<!DOCTYPE html>
<!-- add this  xmlns:th="http://www.w3.org/1999/xhtml" for thymeLeaf to work-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

     <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />    
 
    <!-- Custom fonts for this template -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet" />

<style type="text/css">
.hide-me {
display:none;
}

</style>

<title>Learning ThymelLeaf</title>
</head>
  <body id="page-top">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Working with Ajax and Json</a>   

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="/product">Products</a>
          </li>
          
         
        </ul>
        
      </div>
    </nav>

  




    <!-- Services -->
    <section id="services" class="container">
    <div class="row">
    <div class="col-md-12">
    <h3 class="text-center">Learning JSON and AJAX</h3>
   
   
   <input type="button" id="btn_callAjaxHtml" value="Fecth info for 3 new animals" class="btn btn-primary" />
    
    <br /><br />
  
    
    
    <div class="col-md-6" id="animal-info"></div>
     
    
    </div>
   
    
    </div>
    
    

    
      
    </section>















		  <footer>
		   
              <!-- Custom scripts for this template -->
              <script src="/js/main.js"></script>
              
              <!-- Json and Ajax Javascript file -->
		       <script src="/JsonAndAjax/Json_Ajax.js"></script> 
		       
		  </footer>

</body>
</html>